.fundoLogin {
    background-image: url("https://ik.imagekit.io/pphc/y2k-website-window-illustration.jpg?updatedAt=1740103521549");
    background-repeat: no-repeat;
    min-height: 100vh;
    width: 100%;
    background-size: cover;
    background-position: center;
}